{% extends "layout.html" %}

{% block content %}
<div class="main-container">
    <div class="container">
        <div class="screen">
            <img id="dynamic-image" src="" alt="Dynamic Image" />
        </div>
        
        <div class="button-container">
            {{ form.all_fields() }}
        </div>
    </div>
    <div class="container">
        <div class="screen">
            <img id="dynamic-image-second" src="" alt="Dynamic Image" />
        </div>
        
        <div class="button-container">
            {{ form_second.all_fields() }}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('.static', filename='main.js') }}" type="module"></script>
{% endblock %}

{% block css %}
    <link href="{{ url_for('.static', filename='main.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
